body{
    background-image: linear-gradient(#3B585D,#1D282A);
    height: 100vh;
    color: white;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*vh = vertical height)*/

button{
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}

#below-cover{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0em 5% 0em;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button{
    font-size: 1em;
}

.button-navigate{
    font-size: 2.5em;
}

.button-biggest{
    font-size: 3.5em;
}

#cover{
    width: 320px;
    height: 320px
}

#playlist-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0em 15% 0em;
}

#song-name{
    font-size: 1.3em;
    font-weight: bolder;
}

#band-name{
    font-size: 1em;
}

.light-color{
    color: #8B999C;
}

#progress-bar{
    background-color: #8B999C;
    height: 3px;
    width: 100%;
    border-radius: 15px;
}

#current-progress{
    --progress: 0%;
    background-color: white;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;
}

#progress-container{
    cursor: pointer;
}

.button-active{
    color: rgb(13, 161, 20);
}

#time-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    margin-top: 1.5%;

}



